h1 {
	margin-top: 50px;
    margin-bottom: 75px;
}

input.form-control {
	left : 25px;
	width: 80%;
	margin: 0 auto;
    float: none;
}

.container {
	text-align: center;
}

#btnConnecterFB {
	background-color: #3B5998;
}

#btnConnecterG {
	background-color: #DB4437;
}



