/*theme des icones menu, mail, barre de recherche, titre...*/
.theme1{
    color: #777;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.titre{
    font-size: 25px;
}
/*POUR PLACER UN ELEMENT A DROITE*/
.iconeRight {
    text-align: right;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}
/*POUR PLACER UN ELEMENT A GAUCHE*/
.iconeLeft {
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}
.btnAudio{
    background-color: #FF961E;
    position: relative;
    text-align: center;
    padding:10px;
    color: #FFF;
}
a{
    color: #777;
}