.btnChoixFichier{
	margin: 30px;
	padding-top: 90px;
	padding-bottom: 90px;
	background-color: #F9A448;
	text-align: center;
	font-size:24px;
	color: #fff;
	border-radius:10%;
	box-shadow: 0px 5px 5px #656565;
	font-size: 16px;
}
.BtnContinuer{
	background-color: #FF961E;
	bottom: 0;
	position: fixed;
	text-align: center;
	padding:10px;
	color: #FFF;
}
/*theme des icones menu, mail, barre de recherche, titre...*/
.theme1{
    color: #777;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
.titre{
    font-size: 25px;
}
/*POUR PLACER UN ELEMENT A DROITE*/
.IconeRight {
    text-align: right;
    float: right;
    margin:10px;
}
/*POUR PLACER UN ELEMENT A GAUCHE*/
.IconeLeft {
    text-align: left;
    float: left;
    margin: 10px;
}
a{
    color: #777;
}