.title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 250px;
	line-height: 250px;
	text-align: center;
	font-size: 40px;
	background-color: #FFFFFF;
}

.viewCo{
	position: absolute;
	text-align: center;
	top: 250px;
	right: 0;
	bottom: 0;
	left: 0;
}