/*Aligner l'image avec le texte*/
img {
	vertical-align: middle;
}

/*Mise en forme des label*/
label {
	color: #A9A9A9;
	line-height: 35px
}

/*Mise en forme du bouton déconnecter dans le menu*/ 
#btnDeco {
	width: 60%;
	left : 50px;
	margin: 0 auto;
    float: none;
}

/*Mise en forme de l'image de profil*/
#avatar {
	margin-top: -160px;
	margin-left: 5px;
	position: relative;
}

/*Centrer les textes*/
.center {
	text-align: center;
}

/*Placer une icone ou image à droite*/
.iconeRight {
	float: right;
}

/*Placer une icone ou image à gauche*/
.iconeLeft {
	text-align: left;
	float: left;
	margin-right: 10px;	
}

/*Mise en forme du titre de l'en-tête*/
.title {
	color: #A9A9A9 !important;
	font-size: 25px !important;
	vertical-align: middle !important;
}


/****************************************************************************
							SURCHARGE BOOTSTRAP
****************************************************************************/
.btn-default{
	color: #FFFFFF !important;
  	background-color: #F9A448 !important;
  	border-radius: 8px !important;
  	text-shadow: none !important;
}

.btn-default:focus, .btn-default:active, .btn-default:hover{
	color: #FFFFFF;
  	background-color: #FFB049;
}

.row {
	margin-bottom: 15px;
}


/****************************************************************************
						SURCHARGE JQUERY MOBILE
****************************************************************************/
[data-role=panel]{
	opacity: 0.9;
	width: 272px !important;
}

[data-role=main]{
	color: #A9A9A9;
	font-size: 15px;
}

[data-role=footer] > button {
	width: 100% !important;
	font-size: 20px !important;
	position: fixed;
	left : 0;
	bottom: 0;
}

textarea.ui-input-text {
    overflow: auto;
    resize: none;
}

.ui-header, .ui-footer {
    border-width: 0 !important;
    border-style: none !important;
}

.ui-panel-wrapper, .ui-bar-inherit, .ui-content {
    background-color: #f9f9f9 !important;
}

.ui-panel-inner, .ui-content {
	padding: 0 !important;
}


.ui-input-text, .ui-input-search {
    margin: 0;
    border-width: 0;
    border-style: none;
    background-color: #fff;
}

.ui-input-text input, .ui-input-search input {
    margin: 0;
    min-height: 2.2em;
    text-align: left;
    border: 0;
    background: #fff none;
    -webkit-appearance: none;
    -webkit-border-radius: inherit;
    border-radius: inherit;
}

.ui-header, .ui-footer {
    border-width: 0;
    border-style: none;
}
