img {
	vertical-align: middle;
}

label {
	color: #A9A9A9;
	line-height: 35px
}

#btnDeco {
	width: 60%;
	left : 50px;
	margin: 0 auto;
    float: none;
}


/****************************************************************************
							SURCHARGE BOOTSTRAP
****************************************************************************/
.btn-default{
	color: #FFFFFF !important;
  	background-color: #F9A448 !important;
  	border-radius: 8px !important;
  	text-shadow: none !important;
}

.btn-default:focus, .btn-default:active, .btn-default:hover{
	color: #FFFFFF;
  	background-color: #FFB049;
}

.row {
	margin-bottom: 15px;
}


/****************************************************************************
						SURCHARGE JQUERY MOBILE
****************************************************************************/
.ui-header, .ui-footer {
    border-width: 0;
    border-style: none;
}

.ui-panel-wrapper, .ui-bar-inherit, .ui-content {
    background-color: #f9f9f9 !important;
}

.ui-panel-inner, .ui-content {
	padding: 0;
}

[data-role=panel]{
	opacity: 0.9;
	width: 272px !important;
}

[data-role=footer] > button {
	width: 100% !important;
	font-size: 20px !important;
	position: fixed;
	left : 0;
	bottom: 0;
}
/*.nav{
	position: absolute
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #FF8F35;
}

.nav a{
	display: block;
	width: 50%;
	float: left;
}

.panel{
	position: absolute;
	top: 0;
	left: 2px;
	right: 2px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.left{
	transform: translate3d(-100%,0,0);
}

.center{
	transform: translate3d(0,0,0);
}

.right{
	transform: translate3d(100%,0,0);
}*/